@media (max-width:768px){
    #empresa{
        padding-top: 90px;
        padding-bottom: 90px;
    }
}

@media (max-width:576px){
    .padded{
        padding-top: 45px;
        padding-bottom: 45px;
    }
}